.container {
  width: 575px;
  height: 825px;

  background-color: #a5a569;
  padding-left: 30px;
}
#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
  
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 30px;
  margin-top: 20px;
  color: rgb(2, 41, 52);
  
}

button {
  width: 150px;
  height: 35px;
  margin-left: 100px;
  margin-top: 25px;
  background-color: #fff;
  padding: 2px 10px;
  border-radius: 8px;
  color: #700930;
  background-color: #9fe083;
  text-decoration: none;
  border: 2px solid #212121;
  text-align:center;
  font-size: 25px;
}

h3 {
  padding-left: 10px;
  padding-top: 50px;
  
}

p{
  padding-left: 2px;
  padding-top: 2px;
}

h1{
  padding-left: 130px;
}
